<h1>Create a character</h1>
<p><%= form_tag({controller: "characters", action: "preview"}, method: "get") do %></p>
<% binding.pry %>
<p><label for="race">Race</label>:
<%= collection_select(:race, :race_id, Race.all, :id, :name) %></p>
<p><%= submit_tag("Create Character") %>
<% end %>
<a href="/welcome/index"> home</a> </p>

