<div id="everything">
	<div id="header">
		<h1> User creation successful! </h1>
	</div>
	<div>
		<p> just kidding, no it wasn't.</p>
	</div>
	<div id="footer">
		<p>
			<a href='/welcome/index'><button>Home</button></a>
			<a href='/characters/new'><button>Create a new NPC</button></a>
		</p>
		<p> 
			The font used on this page, <a href='http://opendyslexic.org/'>OpenDyslexic</a>, is an open source font that makes reading easier for dyslexic people.
		</p>
	</div><!-- end div footer -->
</div><!-- end div everything -->